@using MvcKütüphane.Models.Entity
@model List<TBLKATEGORİ>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategoriler</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.ID</td>
        <td>@item.AD</td>
        <td><a href="/Kategori/KategoriSil/@item.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Kategori/KategoriGetir/@item.ID" class="btn btn-success">Güncelle</a></td>
    </tr>
    }
</table>
<a href="/Yazar/YazarEkle/" class="btn btn-primary">Yeni Kategori Ekle</a>